  <!-- TOP NAVBAR START-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top col-12 clearfix">
      <a class="navbar-brand" 
        style="color:whitesmoke">
           AskTOM    </a>
      <ul class="navbar-nav ml-auto">
      </ul>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          
          <a routerLinkActive="active" routerLink="/home">Home</a> 
         
        </div>
    </div>
    </nav>

<div *ngFor="let response of responses">
    <div class="container">
        <div class="col-sm-2">{{response.votes}}</div>
        <div class="col-sm-8">{{response.content}}</div>
        <div class="col-sm-2"></div>
      </div>
</div>

  <!-- NAVBAR END -->
  <!-- NavBar with Nav Pills for cleanish looking navigation on the bottom of the page -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom col-12">