<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1>Please Register</h1>
  </div>
      <!-- Userame -->
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
              Username:<input type="text" id="register-username"
              [(ngModel)]=newTom.username required>
        </div>
        <div class="col-3"></div>
      </div>
      <!-- Password -->
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          Password:<input type="password" 
                 id="register-password"
                [(ngModel)]=newTom.password required>
        </div>
        <div class="col-3"></div>
      </div>
      <!-- Confirm Password -->
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
              Confirm Password:
              <input type="password" 
                  id="register-password-confirm"
                  [(ngModel)]=password-confirm required>
        </div>
        <div class="col-3"></div>
      </div>
      <br>
      <br>
  <!-- for a single button in the middle of a row -->
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <button class="btn-primary text-center"><span><a routerLink="/login" routerLinkActive="active">Confirm</a></span></button>
    </div>
    <div class="col-4">
      <button class="btn-default" ><span><a routerLink="/login" routerLinkActive="active">Cancel</a></span></button>
    </div>
  </div>
</div>